@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.desktop {
  background-color: #383837;
  width: 100%;
  min-width: 1440px;
  height: 1024px;
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1439px;
  height: 123px;
  background-color: #181815;
}

.nav-item-container {
  position: absolute;
  top: 50px;
  height: 25px;
}

.nav-icon {
  position: absolute;
  width: 25px;
  height: 20px;
  filter: brightness(1.2);
  top: -10;
  left: 5px;
}

.nav-text {
  position: absolute;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
}

.nav-home { left: 80px; width: 100px; }
.home-text { left: 32px; }

.nav-character { left: 205px; width: 140px; }
.character-text { left: 35px; }

.nav-roleplay { left: 377px; width: 160px; }
.roleplay-text { left: 45px; }

.nav-profile { left: 1075px; width: 120px; }
.profile-text { left: 35px; }

.nav-logout { left: 1250px; width: 120px; }
.logout-text { left: 35px; }

.nav-item-container:hover {
    opacity: 0.85;
    transform: translateY(-1px);
}

.desktop .tanda {
  position: absolute;
  top: 32px;
  left: 377px;
  width: 150px;
  height: 63px;
  background-color: #e7c69126;
  border-radius: 10px;
  border: 1px solid;
  border-color: #795934;
}

.desktop .background-tiang {
  position: absolute;
  top: 123px;
  left: 0;
  width: 549px;
  height: 901px;
  aspect-ratio: 0.61;
}

.desktop .background-topi {
  position: absolute;
  top: 710px;
  left: 996px;
  width: 444px;
  height: 314px;
  aspect-ratio: 1.41;
}

.desktop .judul {
  position: absolute;
  top: 149px;
  left: 599px;
  font-family: "Metal Mania", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 70px;
  text-align: center;
  letter-spacing: 7.00px;
  line-height: normal;
}

.desktop .card-misi1 {
  position: absolute;
  top: 272px;
  left: 40px;
  width: 425px;
  height: 720px;
}

.desktop .card-misi2 {
  position: absolute;
  top: 272px;
  left: 507px;
  width: 425px;
  height: 720px;
}

.desktop .card-misi3 {
  position: absolute;
  top: 272px;
  left: 974px;
  width: 425px;
  height: 720px;
}


.desktop .start {
  position: absolute;
  width: 293px;
  height: 61px;
  display: block;
  text-decoration: none;   /* hilangkan underline */
  cursor: pointer;
}

/* posisi */

.desktop .gambar-misi1 {
  position: absolute;
  top: 281px;
  left: 52px;
  width: 400px;
  height: 301px;
  aspect-ratio: 1.33;
}

.desktop .gambar-misi2 {
  position: absolute;
  top: 281px;
  left: 521px;
  width: 400px;
  height: 301px;
  aspect-ratio: 1.33;
}

.desktop .gambar-misi3{
  position: absolute;
  top: 281px;
  left: 986px;
  width: 400px;
  height: 301px;
  aspect-ratio: 1.33;
}

.desktop .judul-misi1 {
  position: absolute;
  top: 587px;
  left: 76px;
  font-family: "Metal Mania", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: normal;
}

.desktop .judul-misi2 {
  position: absolute;
  top: 590px;
  left: 549px;
  font-family: "Metal Mania", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: normal;
}

.desktop .judul-misi3 {
  position: absolute;
  top: 590px;
  left: 979px;
  font-family: "Metal Mania", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 36px;
  text-align: center;
  letter-spacing: 3.60px;
  line-height: normal;
}

.desktop .deskripsi-misi1 {
  position: absolute;
  top: 638px;
  left: 69px;
  width: 360px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #c5a064;
  font-size: 16px;
  letter-spacing: 2.40px;
  line-height: normal;
}

.desktop .deskripsi-misi2 {
  position: absolute;
  top: 641px;
  left: 540px;
  width: 360px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #c5a064;
  font-size: 16px;
  letter-spacing: 2.40px;
  line-height: normal;
}

.desktop .deskripsi-misi3 {
  position: absolute;
  top: 641px;
  left: 1003px;
  width: 360px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #c5a064;
  font-size: 16px;
  letter-spacing: 2.40px;
  line-height: normal;
}

.desktop .box-skor {
  position: absolute;
  top: 164px;
  left: 45px;
  width: 174px;
  height: 84px;
}

.desktop .text-skor {
  position: absolute;
  top: 173px;
  left: 65px;
  font-family: "Jacques Francois-Regular", Helvetica;
  font-weight: 400;
  color: #e7c691;
  font-size: 25px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 213px;
  left: 65px;
  font-family: "Lucida Fax-Demibold", Helvetica;
  font-weight: 400;
  color: #e7c691;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2.20px;
  line-height: normal;
  white-space: nowrap;
}

.desktop .box-profile {
  left: 1080px;
  width: 125px;
  position: absolute;
  top: 183px;
  height: 45px;
}

.desktop .logo-profile {
  position: absolute;
  top: 191px;
  left: 1093px;
  width: 30px;
  height: 30px;
}

.desktop .box-tambah-karakter {
  left: 1218px;
  width: 181px;
  position: absolute;
  top: 183px;
  height: 45px;
}

.desktop .nama-input {
  position: absolute;
  top: 197px;
  left: 1131px;
  font-family: "Lucida Fax-Regular", Helvetica;
  font-weight: 400;
  color: #e7c691;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .tambah-karakter {
  position: absolute;
  top: 197px;
  left: 1262px;
  font-family: "Lucida Fax-Regular", Helvetica;
  font-weight: 400;
  color: #e7c691;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
