@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* FONTS */
@font-face {
    font-family: 'Metal Mania';
    src: local('Metal Mania'), url('../Font/MetalMania.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida Fax';
    src: local('Lucida Fax'), url('../Font/LucidaFax.TTF') format('truetype');
}

@font-face {
    font-family: 'Lucida Sans';
    src: local('Lucida Sans'), url('../Font/LucidaSansUnicode.ttf') format('truetype');
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}

a { text-decoration: none; color: inherit; }

/* LAYOUT */
.desktop {
    background-color: #383837;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* HEADER */
.header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 123px;
  background-color: #181815;
  border-bottom: 1px solid #5d5d5d;
  z-index: 10;
}

/* NAVIGATION */
.nav-item-container {
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  z-index: 20;
  transition: opacity 0.3s;
}
.nav-item-container:hover { opacity: 0.8; }

.nav-icon {
  position: relative;
  width: 25px; height: 25px;
  object-fit: contain;
  filter: brightness(1.2);
}

.nav-text {
  position: relative;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
  white-space: nowrap;
}

.nav-home { left: 80px; }
.nav-character { left: 205px; }
.nav-roleplay { left: 377px; }

/* Navigasi Kanan */
.nav-profile { right: 200px; flex-direction: row-reverse; }
.nav-logout { right: 50px; }

/* ACTIVE ROLEPLAY */
.tanda {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 130px; height: 63px;
    background-color: #e7c69126; 
    border-radius: 10px;
    border: 1px solid #795934;
    z-index: -1;
}

/* BACKGROUND */
.background {
    position: absolute;
    top: 225px;
    left: 329px;
    width: 749px;
    height: 730px;
    z-index: 0;
    opacity: 0.6;
}

.atas-kiri {
    top: 123px;
    left: 35px;
    width: 677px; 
    height: 579px; 
}

.bawah-kiri { 
    top: 695px; 
    left: 35px; 
    width: 677px; 
    height: 329px; 
}
.bawah-kanan { 
    top: 702px; 
    left: 722px; 
    width: 677px; 
    height: 322px; 

}
.atas-kanan { 
    top: 123px; 
    left: 722px; 
    width: 677px; 
    height: 579px; 
}

/* TITLE */
.judul {
    position: absolute;
    top: 161px;
    left: 400px;
    font-family: 'Metal Mania', serif;
    font-size: 60px;
    letter-spacing: 10px;
    color: #ecd4ae;
}

/* AVATAR GRID */
.avatar-selection-grid img {
    position: absolute;
    z-index: 5;
    opacity: 0.9;
}

/* POSISI AVATAR */
.avatar-1 { top: 256px; left: 258px; width: 230px; height: 357px; }
.avatar-2 { top: 268px; left: 598px; width: 249px; height: 345px; }
.avatar-3 { top: 260px; left: 922px; width: 250px; height: 353px; }

.avatar-4 { top: 631px; left: 270px; width: 237px; height: 366px; }
.avatar-5 { top: 634px; left: 605px; width: 250px; height: 363px; }
.avatar-6 { top: 637px; left: 922px; width: 250px; height: 360px; }

/* AVATAR CLICK EFFECT */
.avatar-click {
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.avatar-click:hover {
    transform: scale(1.03);
    opacity: 1;
}

.back-bg {
    position: absolute;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    opacity: 0.7;
    left: 50px;
    top: 935px;
}

.back-text {
    position: absolute;
    top: 965px;
    left: 112px;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #e7c691;
}
