/* RESET */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
a { text-decoration: none; }

/* LAYOUT UTAMA */
.desktop {
  background-color: #383837;
  width: 1440px;
  height: 1024px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* HEADER BAR */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1439px;
  height: 123px;
  background-color: #181815;
}

/* ======== NAVIGATION (IDENTIK AVATAR) ======== */
.nav-item-container {
  position: absolute;
  top: 50px;
  height: 25px;
}

.nav-icon {
  position: absolute;
  width: 25px;
  height: 20px;
  filter: brightness(1.2);
  top: -10;
  left: 5px;
}

.nav-text {
  position: absolute;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
}

/* Posisi Sama Persis Avatar.css */
.nav-home { left: 80px; width: 100px; }
.home-text { left: 32px; }

.nav-character { left: 205px; width: 140px; }
.character-text { left: 35px; }

.nav-roleplay { left: 377px; width: 160px; }
.roleplay-text { left: 45px; }

.nav-profile { left: 1075px; width: 120px; }
.profile-text { left: 35px; }

.nav-logout { left: 1250px; width: 120px; }
.logout-text { left: 35px; }

/* Highlight Box (hanya untuk Home) */
.tanda {
    position: absolute;
    top: -20px; 
    left: -20px;
    width: 130px;
    height: 63px;
    background-color: #e7c69126; 
    border-radius: 10px;
    border: 1px solid #795934;
}

/* Meet the Characters BOX */
.meet-box {
  position: absolute;
  top: 470px;
  left: 84px;
  width: 401px;
  height: 447px;
  background-color: #e7c69133;
  border-radius: 40px;
  z-index: 1;
}

/* Roleplay Adventures BOX (BARU, ukuran sama) */
.roleplay-box {
  position: absolute;
  top: 470px;
  left: 519px;
  width: 401px;
  height: 447px;
  background-color: #e7c69133;
  border-radius: 40px;
  z-index: 1;
}

/* About the Peaky Box */
.about-box {
  position: absolute;
  top: 297px;
  left: 954px;
  width: 401px;
  height: 620px;
  background-color: #e7c69133;
  border-radius: 40px;
}

/* TEXT CONTENT */
.Welcome {
  position: absolute;
  top: 195px;
  left: 94px;
  font-family: 'metal mania', Helvetica;
  font-size: 60px;
  color: #ecd4ae;
  letter-spacing: 6px;
}

.desc {
  position: absolute;
  top: 260px;
  left: 96px;
  width: 730px;
  font-family: 'lucida fax-regular', Helvetica;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 4px;
}

.explore-characters,
.explore-roleplay,
.explore-peaky {
  position: absolute;
  font-family: 'lucida sans', serif;
  color: #ecd4ae;
  font-size: 24px;
  letter-spacing: 2.4px;
  text-align: center;
}

.explore-characters { top: 630px; left: 153px; width: 279px; }
.explore-roleplay { top: 630px; left: 590px; width: 279px; }
.explore-peaky { top: 438px; left: 977px; width: 351px; }

.meet-the-characters,
.rolepay-adventures {
  position: absolute;
  font-family: 'lucida fax', Helvetica;
  color: #ecd4ae;
  font-size: 32px;
  letter-spacing: 4px;
  width: 200px;
}

.meet-the-characters { top: 526px; left: 189px; text-align: right; }
.rolepay-adventures { top: 526px; left: 611px; text-align: right; }

.about-the-peaky {
  position: absolute;
  top: 320px;
  left: 1005px;
  width: 300px;
  font-family: 'lucida fax', Helvetica;
  color: #ecd4ae;
  font-size: 32px;
  text-align: right;
  letter-spacing: 4px;
}

/* IMAGES */
.background{
  position: absolute;
  top: 225px;
  left: 329px;
  width: 749px;
  height: 730px;
}

/* VECTOR (posisi asli) */
.vector, .img, .vector-2, .vector-3, .vector-4,
.vector-5, .vector-6, .vector-7, .vector-8,
.vector-9, .vector-10, .vector-11, .vector-12 {
  position: absolute;
}

/* Hilangkan underline default link */
.nav-link {
    text-decoration: none;
    color: inherit;
}

/* Jadikan seluruh item bisa diklik */
.nav-item-container {
    cursor: pointer;
}

/* Efek hover (halus & elegan) */
.nav-item-container:hover {
    opacity: 0.85;
    transform: translateY(-1px);
}

/* Pastikan teks & icon tetap warna asli */
.nav-item-container:hover .nav-text {
    color: #f0d9b5;
}

.about-box{cursor: pointer;}

.about-box:hover{
    opacity: 0.85;
    transform: translateY(-1px);
}

.about-box:hover{color: #f0d9b5;}

.meet-box{cursor: pointer;}

.meet-box:hover{
    opacity: 0.85;
    transform: translateY(-1px);
}

.meet-box:hover{color: #f0d9b5;}

.roleplay-box{cursor: pointer;}

.roleplay-box:hover{
    opacity: 0.85;
    transform: translateY(-1px);
}

.roleplay-box:hover{color: #f0d9b5;}