@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}

html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LAYOUT */
.desktop {
    background-color: #383837;
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

/* ================= HEADER (SAMA DENGAN AVATAR) ================= */
.header {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 123px;
  background-color: #181815;
  border-bottom: 1px solid #5d5d5d;
  z-index: 10;
}

.nav-item-container {
  position: absolute;
  top: 50px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  z-index: 20;
  transition: opacity 0.3s;
}
.nav-item-container:hover { opacity: 0.8; }

.nav-icon {
  position: relative;
  width: 25px; height: 25px;
  object-fit: contain;
  filter: brightness(1.2);
}

.nav-text {
  position: relative;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
  white-space: nowrap;
}

.nav-home { left: 80px; }
.nav-character { left: 205px; }
.nav-roleplay { left: 377px; }

/* Navigasi Kanan */
.nav-profile { right: 200px; flex-direction: row-reverse; }
.nav-logout { right: 50px; }

/* Highlight Box */
.tanda {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 130px; height: 63px;
    background-color: #e7c69126; 
    border-radius: 10px;
    border: 1px solid #795934;
    z-index: -1;
}


/* BACKGROUND */
.background {
    position: absolute;
    top: 225px;
    left: 329px;
    width: 749px;
    height: 730px;
    z-index: 0;
    opacity: 0.6;
}

.atas-kiri {
    top: 123px;
    left: 35px;
    width: 677px; 
    height: 579px; 
}

.bawah-kiri { 
    top: 695px; 
    left: 35px; 
    width: 677px; 
    height: 329px; 
}
.bawah-kanan { 
    top: 702px; 
    left: 722px; 
    width: 677px; 
    height: 322px; 

}
.atas-kanan { 
    top: 123px; 
    left: 722px; 
    width: 677px; 
    height: 579px; 
}

/* AVATAR */
.avatar {
    position: absolute;
    top: 212px;
    left: 540px;
    width: 400px;
    height: 600px;
}

.group {
    position: absolute;
    top: 867px;
    left: 455px;
    width: 576px;
    height: 82px;
}

.tombol-cancel {
    position: absolute;
    top: 867px;
    left: 305px;
    width: 142px;
    height: 82px;
}

.tombol-ok {
    position: absolute;
    top: 867px;
    left: 1039px;
    width: 81px;
    height: 82px;
}

/* ================= INPUT NAME (REAL BOX, MIRIP GAMBAR) ================= */
.name-input {
    position: absolute;
    top: 867px;
    left: 455px;
    width: 576px;
    height: 82px;

    background-color: #e5e5e5;
    border: 3px solid #000000;
    border-radius: 20px;

    font-family: 'Lucida Fax Demibold', Helvetica;
    font-size: 28px;
    color: #000000;
    text-align: center;
    letter-spacing: 2px;

    outline: none;
    z-index: 5;
}

/* Placeholder */
.name-input::placeholder {
    color: #000000;
    opacity: 0.9;
    letter-spacing: 2px;
}

/* Focus (halus, tidak merusak desain) */
.name-input:focus {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
}

.btn-ok {
    position: absolute;
    top: 867px;
    left: 1039px;
    width: 81px;
    height: 82px;

    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 50;
}

.btn-cancel {
    position: absolute;
    top: 867px;
    left: 305px;
    width: 142px;
    height: 82px;

    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 50;
}