/* RESET */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

/* BODY */
body {
  font-size: 100%;
  line-height: 1;
  height: 100%;
}

/* CONTAINER */
.desktop {
  background-color: #383837;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  height: 1024px;
  position: relative;
}

/* ALL IMAGE POSITIONS */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}

.ada-thorne {
  position: absolute;
  top: 545px;
  left: 1px;
  width: 345px;
  height: 479px;
}

.arthur-shelby {
  position: absolute;
  top: 430px;
  left: 202px;
  width: 458px;
  height: 594px;
}

.polly-gray {
  position: absolute;
  top: 478px;
  left: 431px;
  width: 579px;
  height: 546px;
}

.thomas-shelby {
  position: absolute;
  top: 108px;
  left: 863px;
  width: 577px;
  height: 901px;
  object-fit: cover;
}

/* === STYLING UNTUK JUDUL BARU (Ganti .welcome-aljatsiya) === */
.page-title {
  position: absolute;
  /* Posisi yang disesuaikan agar terlihat sentral di bagian atas */
  top: 70px; 
  left: 90px;
  right: 0;
  text-align: center;
  width: 100px;
  /* Styling Font Sesuai Permintaan */
  font-size: 140px; /* Ukuran disesuaikan agar lebih proporsional */
  color: #ffffff; /* Menggunakan warna yang sama dengan tombol START */
  font-family: 'Metal Mania', Helvetica;
  text-shadow: 4px 4px 10px #261f17; /* Memberi bayangan agar lebih menonjol */
  letter-spacing: 5px;
}

.rectangle {
  position: absolute;
  top: 872px;
  left: 566px;
  width: 310px;
  height: 93px;
  background-color: #383837b2;
  border-radius: 10px;
  border: 1px solid #fbddaf;
}

.text-wrapper {
  position: absolute;
  top: 900px;
  left: 657px;
  font-family: 'Lucida Fax', Helvetica;
  color: #fbdeb0;
  font-size: 32px;
  letter-spacing: 3.2px;
}

.start-link {
  text-decoration: none;
  color: inherit;
  position: absolute;
  top: 0;
  left: 0;
}

.vector-2 {
  position: absolute;
  width: 3.82%;
  height: 3.71%;
  top: -230.66%;
  left: 44.31%;
}

.vector-3 {
  position: absolute;
  width: 0;
  height: 0;
  top: -229.59%;
  left: 46.67%;
}

.vector-4 {
  position: absolute;
  width: 3.68%;
  height: 5.08%;
  top: -249.22%;
  left: 72.29%;
}
