/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}

a { text-decoration: none; color: inherit; }

/* LAYOUT */
.desktop {
    width: 1440px;
    height: 1024px;
    background-color: #383837;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1439px;
  height: 123px;
  background-color: #181815;
}

/* NAVIGATION */
.nav-item-container {
  position: absolute;
  top: 50px;
  height: 25px;
}
.nav-icon {
  position: absolute;
  width: 25px;
  height: 20px;
  filter: brightness(1.2);
  top: -10;
  left: 5px;
}

.nav-text {
  position: absolute;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
}

/* NAV POSISI */
.nav-home { left: 80px; width: 100px; }
.home-text { left: 32px; }

.nav-character { left: 205px; width: 140px; }
.character-text { left: 35px; }

.nav-roleplay { left: 377px; width: 160px; }
.roleplay-text { left: 45px; }

.nav-profile { left: 1075px; width: 120px; }
.profile-text { left: 35px; }

.nav-logout { left: 1250px; width: 120px; }
.logout-text { left: 35px; }

/* ACTIVE ROLEPLAY */
.tanda {
    position: absolute;
    top: 32px;
    left: 373px;
    width: 150px;
    height: 63px;
    background-color: #e7c69126;
    border-radius: 10px;
    border: 1px solid #795934;
}

/* HOVER NAV */
.nav-item-container:hover {
    opacity: 0.85;
    transform: translateY(-1px);
}

/* BACKGROUND */
.background {
    position: absolute;
    mix-blend-mode: luminosity;
    pointer-events: none;
}

.atas-kiri {
    top: 123px;
    left: 35px;
    width: 677px; 
    height: 579px; 
}

.bawah-kiri { 
    top: 695px; 
    left: 35px; 
    width: 677px; 
    height: 329px; 
}
.bawah-kanan { 
    top: 702px; 
    left: 722px; 
    width: 677px; 
    height: 322px; 

}
.atas-kanan { 
    top: 123px; 
    left: 722px; 
    width: 677px; 
    height: 579px; 
}

/* TITLE */
.judul {
    position: absolute;
    top: 161px;
    left: 400px;
    font-family: 'Metal Mania', serif;
    font-size: 60px;
    letter-spacing: 10px;
    color: #ecd4ae;
}

/* AVATAR GRID */
.avatar-selection-grid img {
    position: absolute;
    z-index: 5;
    opacity: 0.9;
}

/* POSISI AVATAR */
.avatar-1 { top: 256px; left: 258px; width: 230px; height: 357px; }
.avatar-2 { top: 268px; left: 598px; width: 249px; height: 345px; }
.avatar-3 { top: 260px; left: 922px; width: 250px; height: 353px; }

.avatar-4 { top: 631px; left: 270px; width: 237px; height: 366px; }
.avatar-5 { top: 634px; left: 605px; width: 250px; height: 363px; }
.avatar-6 { top: 637px; left: 922px; width: 250px; height: 360px; }

/* AVATAR CLICK EFFECT */
.avatar-click {
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.avatar-click:hover {
    transform: scale(1.03);
    opacity: 1;
}

.back-bg {
    position: absolute;
    width: 120px;
    height: 60px;
    border-radius: 10px;
    opacity: 0.7;
    left: 50px;
    top: 935px;
}

.back-text {
    position: absolute;
    top: 965px;
    left: 112px;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: #e7c691;
}
