@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Old Standard TT', serif;
}

html, body {
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LAYOUT */
.desktop {
    background-color: #383837;
    width: 1440px;
    height: 1024px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

/* ================= HEADER (SAMA DENGAN AVATAR) ================= */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1439px;
  height: 123px;
  background-color: #181815;
}

.nav-item-container {
  position: absolute;
  top: 50px;
  height: 25px;
}

.nav-icon {
  position: absolute;
  width: 25px;
  height: 20px;
  filter: brightness(1.2);
  top: -10;
  left: 5px;
}

.nav-text {
  position: absolute;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
}

/* POSISI */
.nav-home { left: 80px; width: 100px; }
.home-text { left: 32px; }

.nav-character { left: 205px; width: 140px; }
.character-text { left: 35px; }

.nav-roleplay { left: 377px; width: 160px; }
.roleplay-text { left: 45px; }

.nav-profile { left: 1075px; width: 120px; }
.profile-text { left: 35px; }

.nav-logout { left: 1250px; width: 120px; }
.logout-text { left: 35px; }

/* ACTIVE ROLEPLAY */
.tanda {
    position: absolute;
    top: 32px;
    left: 373px;
    width: 150px;
    height: 63px;
    background-color: #e7c69126;
    border-radius: 10px;
    border: 1px solid #795934;
}

/* HOVER */
.nav-item-container:hover {
    opacity: 0.85;
    transform: translateY(-1px);
}


/* BACKGROUND */
.background {
    position: absolute;
    mix-blend-mode: luminosity;
    pointer-events: none;
}

.atas-kiri {
    top: 123px;
    left: 35px;
    width: 677px; 
    height: 579px; 
}

.bawah-kiri { 
    top: 695px; 
    left: 35px; 
    width: 677px; 
    height: 329px; 
}
.bawah-kanan { 
    top: 702px; 
    left: 722px; 
    width: 677px; 
    height: 322px; 

}
.atas-kanan { 
    top: 123px; 
    left: 722px; 
    width: 677px; 
    height: 579px; 
}

/* AVATAR */
.avatar {
    position: absolute;
    top: 212px;
    left: 540px;
    width: 400px;
    height: 600px;
}

.group {
    position: absolute;
    top: 867px;
    left: 455px;
    width: 576px;
    height: 82px;
}

.tombol-cancel {
    position: absolute;
    top: 867px;
    left: 305px;
    width: 142px;
    height: 82px;
}

.tombol-ok {
    position: absolute;
    top: 867px;
    left: 1039px;
    width: 81px;
    height: 82px;
}

/* ================= INPUT NAME (REAL BOX, MIRIP GAMBAR) ================= */
.name-input {
    position: absolute;
    top: 867px;
    left: 455px;
    width: 576px;
    height: 82px;

    background-color: #e5e5e5;
    border: 3px solid #000000;
    border-radius: 20px;

    font-family: 'Lucida Fax Demibold', Helvetica;
    font-size: 28px;
    color: #000000;
    text-align: center;
    letter-spacing: 2px;

    outline: none;
    z-index: 5;
}

/* Placeholder */
.name-input::placeholder {
    color: #000000;
    opacity: 0.9;
    letter-spacing: 2px;
}

/* Focus (halus, tidak merusak desain) */
.name-input:focus {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.25);
}

.btn-ok {
    position: absolute;
    top: 867px;
    left: 1039px;
    width: 81px;
    height: 82px;

    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 50;
}

.btn-cancel {
    position: absolute;
    top: 867px;
    left: 305px;
    width: 142px;
    height: 82px;

    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 50;
}