/* RESET + GLOBAL */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: inherit;
  font-size: 100%;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

/* MAIN WRAPPER */
.desktop {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  height: 1024px;
  position: relative;
}

/* BACKGROUND IMAGE */
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  aspect-ratio: 1.51;
  object-fit: cover;
}

/* MAIN CARD */
.rectangle {
  position: absolute;
  top: 127px;
  left: 228px;
  width: 983px;
  height: 770px;
  background-color: #261f17e6;
  border-radius: 30px;
}

/* TITLE */
.text-wrapper {
  position: absolute;
  top: 223px;
  left: 530px;
  font-family: "Metal Mania", Helvetica;
  color: #e7c691;
  font-size: 60px;
}

/* SUBTEXT */
.don-t-have-account {
  position: absolute;
  top: 297px;
  left: 559px;
  font-family: "Lucida Fax", Helvetica;
  font-size: 23px;
  color: transparent;
  white-space: nowrap;
}

.span {
  color: #ffffff;
}

.text-wrapper-3 {
  color: #e7c693;
}

/* INPUT FIELD (username & password) */
.input-field {
  position: absolute;
  width: 501px;
  height: 53px;
  background-color: #261f17;
  border-radius: 90px;
  border: 3px dashed #e7c693;

  /* INI AGAR TEKS SAMA */
  color: #ffffff; 
  font-size: 22px;
  font-family: "Lucida Fax", Helvetica;
  padding-left: 20px;
}

/* POSISI INPUT USERNAME */
.input-username {
  top: 422px;
  left: 470px;
}

/* POSISI INPUT PASSWORD */
.input-password {
  top: 572px;
  left: 470px;
}

/* SIGN IN BUTTON */
.btn-signin {
  position: absolute;
  top: 729px;
  left: 582px;
  width: 278px;
  height: 50px;
  background-color: #795934;
  border-radius: 90px;
  border: 1px solid #e7c693;
}

.error-message {
  position: absolute; 
  top: 700px;        
  left: 0;
  right: 0;
  text-align: center;

  font-family: "Lucida Fax", Helvetica;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #ff0000;

  display: none;
}

/* LABELS */
.label-username {
  position: absolute;
  top: 384px;
  left: 484px;
  font-family: "Lucida Fax", Helvetica;
  color: #ffffff;
  font-size: 22px;
}

.label-password {
  position: absolute;
  top: 534px;
  left: 485px;
  font-family: "Lucida Fax", Helvetica;
  color: #ffffff;
  font-size: 22px;
}

.error-message {
  position: absolute;
  top: 670px; 
  left: 0;
  right: 0;
  text-align: center;

  font-family: "Lucida Fax", Helvetica;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #ff0000;

  display: none;
}

/* SIGN IN TEXT INSIDE BUTTON */
.label-btn-signin {
  position: absolute;
  top: 739px;
  left: 684px;
  font-family: "Lucida Fax", Helvetica;
  color: #e7c691;
  font-size: 22px;
}
