@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.desktop {
  background-color: #383837;
  width: 100%;
  min-width: 1440px;
  height: 2048px;
  position: relative;
}

.desktop .background-merokok {
  position: absolute;
  top: 1675px;
  left: 0;
  width: 482px;
  height: 373px;
  aspect-ratio: 1.04;
}

.desktop .background-silet{
  position: absolute;
  top: 0;
  left: 946px;
  width: 494px;
  height: 533px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .karakter {
  position: absolute;
  top: 349px;
  left: 122px;
  width: 360px;
  height: 501px;
  aspect-ratio: 0.72;
}

.desktop .background-asap {
  position: absolute;
  top: 667px;
  left: 342px;
  width: 754px;
  height: 355px;
  aspect-ratio: 2.12;
}

.desktop .pigura{
  position: absolute;
  top: 201px;
  left: 37px;
  width: 524px;
  height: 786px;
  aspect-ratio: 0.67;
  object-fit: cover;
}

.desktop .deskripsi {
  position: absolute;
  top: 456px;
  left: 615px;
  width: 703px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 24px;
  letter-spacing: 2.40px;
  line-height: normal;
}

.desktop .nama-karakter {
  position: absolute;
  top: 275px;
  left: 615px;
  font-family: "Metal Mania", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 55px;
  letter-spacing: 5.50px;
  line-height: normal;
}

.desktop .the-life-path-of {
  position: absolute;
  top: 1149px;
  left: 453px;
  width: 534px;
  font-family: "Metal Mania", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 48px;
  text-align: center;
  letter-spacing: 4.80px;
  line-height: normal;
}

.desktop .span {
  letter-spacing: 2.30px;
}

.desktop .text-wrapper-2 {
  font-size: 32px;
  letter-spacing: 1.02px;
}

.desktop .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 1439px;
  height: 123px;
  background-color: #191916;
}

.desktop .tanda {
 position: absolute;
    top: 30px; 
    left: 200px;
    width: 150px;
    height: 63px;
    background-color: #e7c69126; 
    border-radius: 10px;
    border: 1px solid #795934;
}

.desktop .background-order {
  position: absolute;
  top: 778px;
  left: 1016px;
  width: 423px;
  height: 730px;
  aspect-ratio: 0.58;
}


.desktop .tekstimeline1 {
  position: absolute;
  top: 1340px;
  left: 12px;
  width: 299px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 00;
  color: #ecd4ae;
  font-size: 25px;
  letter-spacing: 2.50px;
  line-height: normal;
}

.desktop .tekstimeline2 {
  position: absolute;
  top: 1686px;
  left: 293px;
  width: 299px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 25px;
  letter-spacing: 2.50px;
  line-height: normal;
}

.desktop .tekstimeline3 {
  position: absolute;
  top: 1340px;
  left: 587px;
  width: 299px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 25px;
  letter-spacing: 2.50px;
  line-height: normal;
}

.desktop .tekstimeline4 {
  position: absolute;
  top: 1686px;
  left: 859px;
  width: 299px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 25px;
  letter-spacing: 2.50px;
  line-height: normal;
}

.desktop .tekstimeline5 {
  position: absolute;
  top: 1410px;
  left: 1128px;
  width: 299px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 25px;
  letter-spacing: 2.50px;
  line-height: normal;
}

.desktop .pita1 {
  position: absolute;
  top: 1603px;
  left: 5px;
  width: 289px;
  height: 55px;
}

.desktop .pita2 {
  position: absolute;
  top: 1603px;
  left: 266px;
  width: 311px;
  height: 55px;
}

.desktop .pita3 {
  position: absolute;
  top: 1603px;
  left: 548px;
  width: 311px;
  height: 55px;
}

.desktop .pita4 {
  position: absolute;
  top: 1603px;
  left: 830px;
  width: 311px;
  height: 55px;
}

.desktop .pita5 {
  position: absolute;
  top: 1603px;
  left: 1111px;
  width: 311px;
  height: 55px;
}

.desktop .timeline1 {
  position: absolute;
  top: 1615px;
  left: 96px;
  width: 101px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 2.80px;
  line-height: normal;
}

.desktop .timeline2 {
  position: absolute;
  top: 1615px;
  left: 331px;
  width: 256px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 2.80px;
  line-height: normal;
}

.desktop .timeline3 {
  left: 661px;
  width: 256px;
  position: absolute;
  top: 1615px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 2.80px;
  line-height: normal;
}

.desktop .timeline4 {
  position: absolute;
  top: 1615px;
  left: 898px;
  width: 200px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 2.80px;
  line-height: normal;
}

.desktop .timeline5 {
  left: 1174px;
  width: 200px;
  position: absolute;
  top: 1615px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 2.80px;
  line-height: normal;
}

.desktop .pembatas {
  position: absolute;
  top: 1022px;
  left: 140px;
  height: 61px;
  width: 1160px;
}

.desktop .back{
  position: absolute;
  top: 1953px;
  left: 1322px;
  width: 77px;
  height: 61px;
  background-image: url(./img/rectangle-37.png);
  background-size: 100% 100%;
}

.desktop .tombol-back {
  position: absolute;
  width: 80px;
  height: 60px;
  top: 27.87%;
  left: -20px;
}

.desktop .quote {
  position: absolute;
  top: 343px;
  left: 615px;
  width: 686px;
  font-family: "Lucida Fax", Helvetica;
  font-weight: 400;
  color: #ecd4ae;
  font-size: 28px;
  letter-spacing: 3.64px;
  line-height: normal;
}

/* ===== HEADER SAMA DENGAN KARAKTER ===== */
.nav-item-container {
  position: absolute;
  top: 50px;
  height: 25px;
}

.nav-icon {
  position: absolute;
  width: 25px;
  height: 20px;
  filter: brightness(1.2);
  top: -10;
  left: 5px;
}

.nav-text {
  position: absolute;
  color: #e7c691;
  font-size: 20px;
  font-family: 'Lucida Fax', Helvetica;
  letter-spacing: 1px;
}

/* POSISI MENU */
.nav-home { left: 80px; width: 100px; }
.home-text { left: 32px; }

.nav-character { left: 205px; width: 140px; }
.character-text { left: 35px; }

.nav-roleplay { left: 377px; width: 160px; }
.roleplay-text { left: 45px; }

.nav-profile { left: 1075px; width: 120px; }
.profile-text { left: 35px; }

.nav-logout { left: 1250px; width: 120px; }
.logout-text { left: 35px; }

/* HIGHLIGHT CHARACTER */
.nav-character .rectangle-2 {
  position: absolute;
  top: -18px;
  left: -15px;
  width: 150px;
  height: 63px;
  background-color: #e7c69126;
  border-radius: 10px;
  border: 1px solid #795934;
}

/* Hilangkan underline default link */
.nav-link {
    text-decoration: none;
    color: inherit;
}

/* Jadikan seluruh item bisa diklik */
.nav-item-container {
    cursor: pointer;
}

/* Efek hover (halus & elegan) */
.nav-item-container:hover {
    opacity: 0.85;
    transform: translateY(-1px);
}

/* Pastikan teks & icon tetap warna asli */
.nav-item-container:hover .nav-text {
    color: #f0d9b5;
}